body {
    background-color: #1F1E1E;
    color: #ffffff
}

header {
    padding: 25px 0px;
}

h1 {

    font-size: 3em;
    font-weight: bold;
    text-align: center; 
}

p {
    
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    text-align: center;
    
}

img {

    width: 10%;
}

.grid {

    display: grid;
    grid-template-columns: 1fr minmax(300px, 3fr) 1fr;
    justify-items: center;
    
}

.center-column {
    grid-column: 2/3;
}

main.grid.login {

    grid-template-rows: auto 300px;
}

form {
    
    height: auto;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


section {

    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

}

section * {

    margin-bottom: 5px;
}

label {
    margin-right: 10px;
}


input {
    padding: 5px;
    margin: 10px;
}

.form-button {

    width: 100px;
    padding: 10px;

}