<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Site do Chatbot Pontos de Vida">
    <meta name="author" content="Paulo Henrique Serrano, Rodolfo Marques, Interfaces Livres"> 
    <link rel="stylesheet" href="./style/style.css">
    <title>Login - Pontos de Vida Chatbot</title>
</head>
<body>
    <header class="grid">
        <img class="center-column" src="./img/logo.png" alt="Logo Pontos de Vida">
    </header>
    <main class="grid">
        <h1 class="center-column">Login do Sistema de Mensagens</h1>
        <div class="center-column">
            <form id="form" action="/login" method="post">
                <label for="username">Login</label>
                <input type="text" name="username" id="form_name">
                <label for="password">Senha</label>
                <input type="password" name="password" id="form_pass">
                <input class="form-button" type="submit" value="Enviar">    
            </form>
            <% if(message) {%> 
                <p><%= message %></p>
            <% } %> 
        </div>
    </main>
    <footer>

    </footer>
</body>
</html>